<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSS springboot</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="main">
        <span class="error">An Error Occured!</span>
        <span th:text="${error_status_code}" class="error_status">Error Status</span>
        <span th:text="${error_message}" class="error_message">Error Message</span>
        <a href="/">
            <button>Return To Homepage</button>
        </a>
    </div>
</body>

</html>