<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSS springboot</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <script th:src="@{/js/feed.js}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="main">
        <div id="header"><span id="title">RSS Feed</span>
            <span>Sort By:</span>
            <button onclick="sortFeed()">Comments Desc</button>
        </div>
        <div id="sidebar">
            <div class="element" onclick="getPhoronixFeed()">Phoronix</div>
            <div class="element" onclick="getRssFeed()">GamingOnLinux TEST OF \site endpoint</div>
        </div>

        <div id="feed-container"></div>
    </div>
</body>

</html>