<!-- <div th:each="article: ${feed}" th:replace="article :: ${article}">
</div> -->
<!-- <div > -->
<a th:each="article: ${feed}" class="article" th:if="${!#strings.isEmpty(article.href)}" th:href="${article.href}" target="_blank" rel="noopener noreferrer" th:data-com="${article.comments}">
    <div>
        <span th:text="${article.title}" class="title">Title</span>
        <img th:if="${!#strings.isEmpty(article.img)}" th:src="${article.img}" alt="">
        <p class="details" th:text="${article.details}">Details</p>
        <span>Comments: </span><span th:text="${article.comments}">Comments</span>
    </div>
</a>
<!-- </div> -->